<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>cinnabar</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/preminstrel/opt/anaconda3/envs/cinnabar/bin/flask</string>
        <string>--app</string>
        <string>cinnabar_server</string>
        <string>run</string>
        <string>--port</string>
        <string>3010</string>
        <string>--host</string>
        <string>127.0.0.1</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/preminstrel/Library/Logs/cinnabar/app.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/preminstrel/Library/Logs/cinnabar/app.log</string>
</dict>
</plist>

