{% extends "frame.html" %}
{% block navi %}
    {% include "navi.html" %}
{% endblock navi %}
{% block main %}
    <div class="container-xxl px-1 py-2">
        <div class="shadow g-4 mb-2 bg-body rounded">
            <div class="card d-block border-0">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-bottom mb-2 border-bottom">
                        <div class="mb-2">
                            <span class="h4">CLIENT</span>
                            <span class="text-body-secondary">from ~/.ssh/config</span>
                        </div>
                    </div>
                    <div class="table-responsive border rounded p-2">
                        <table id="clientList"
                                class="table table-striped display compact w-100"
                                apiurl="{{ url_for('api_client.list') }}">
                            <thead>
                                <tr class="text-body-emphasis">
                                    <th>HOSTNAME</th>
                                    <th>IP</th>
                                    <th>OS</th>
                                    <th>USER</th>
                                    <th>GPU</th>
                                    <th>CPU</th>
                                    <th>MEMORY</th>
                                    <th>TIME</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>            
        </div>
        <script src="{{ url_for('static', filename='js/client.list.js') }}"></script>
    </div>
{% endblock main %}
